---
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { main: "1", dog: "rover" } },
    { params: { main: "2", dog: "spot" } },
  ];
}

const { dog } = Astro.params;
---

<Layout>
  <div>Good dog, {dog}!</div>
</Layout>
