---
import Layout from "../layouts/Layout.astro";
import CategoryItem from "../components/CategoryItem.astro";
import categoryLists from "../assets/categoryLists";
import Hero from "../components/Hero.astro";
---

<Layout onHome={true}>
  <Hero
    title="Bringing Your Vision to Life:"
    imgSrc="/src/images/hero.jpg"
    subTitle="Expertly planned, perfectly executed.  Professional Event Planning at its best by Gold Springs"
  />
  <section class="m-4 lg:m-6">
    <div class="font-medium text-amber-900 text-base my-6">
      <h2 class="font-bold text-xl">Services:</h2>
      We specialize in the following services
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
      {
        categoryLists.map((item) => (
          <CategoryItem
            title={item.category}
            imgSrc={item.thumbImgSrc}
            link={item.link}
          />
        ))
      }
    </div>
  </section>
</Layout>
