---
---

<form
  action="https://formsubmit.co/goldspringsofficial@gmail.com"
  method="POST"
  class="p-2 text-amber-900"
>
  <div class="mb-4">
    <label class="mb-2 block font-medium" for="name"> Name *</label>
    <input
      class="w-full rounded-lg border border-amber-700 p-2"
      type="text"
      id="name"
      name="name"
      required
    />
  </div>
  <div class="mb-4">
    <label class="mb-2 block font-medium" for="email"> Phone Number *</label>
    <input
      class="w-full rounded-lg border border-amber-700 p-2 focus:border-0 focus:border-amber-900"
      type="tel"
      id="tel"
      name="tel"
      required
    />
  </div>
  <div class="mb-4">
    <label class="mb-2 block font-medium" for="message"> Message</label>
    <textarea
      class="w-full rounded-lg border border-amber-700 p-2"
      id="message"
      name="message"
      required></textarea>
  </div>

  <button
    class="my-4 w-full rounded-lg bg-amber-900 p-4 font-bold text-amber-200"
  >
    Send a mail
  </button>
  <input type="hidden" name="_captcha" value="false" />
</form>
