---
import TopPanel from "./TopPanel.astro";
import { Img } from "astro-imagetools/components";
const { imgSrc, title, subTitle, isItem = false } = Astro.props;
---

<section class="hero relative h-[55vh] lg:h-[60vh]">
  <div class="grad absolute flex h-full w-full flex-col">
    <div
      class={isItem
        ? "flex h-full p-4 pb-6 md:p-8 md:pb-10 justify-start items-end text-amber-100 font-bold md:font-black text-2xl md:text-4xl lg:text-5xl"
        : "flex h-full p-4 md:p-8 justify-start items-center text-amber-100 font-bold md:font-black text-2xl md:text-4xl lg:text-5xl"}
    >
      <div class="basis-5/6 md:basis-2/3">
        <div>
          {title}
          <!-- <br />
            <div class="hidden md:block">
              Unique and Memorable Event Planning
            </div> -->
        </div>
        <div
          class={"font-medium md:font-semibold text-base md:text-xl lg:text-2xl mt-2 md:mt-6"}
        >
          {subTitle}
        </div>
      </div>
    </div>
  </div>
  <Img
    layout={"fill"}
    attributes={{
      img: {
        class: "h-[55vh] lg:h-[60vh] object-cover w-full",
      },
    }}
    src={imgSrc}
    loading={"lazy"}
    decoding={"async"}
    alt="A landscape image"
  />
</section>
