---
---

<section class="m-4 min-h-[50vh] text-base font-medium text-amber-900 lg:m-6">
  <slot>
    <div class="text-xl font-bold">Some info:</div>
    <div class="md:grid md:grid-cols-2 md:gap-4">
      <div>
        <ul class="list-disc px-4 py-2 text-base font-medium">
          <li>This package includes all necessary decor items.</li>
          <li>
            Try to Book us before 7-10 days of the event as our slots may get
            full for that day.
          </li>
        </ul>
      </div>
    </div>
  </slot>
  <a href="/contact"
    ><button
      class="my-4 mt-6 w-full rounded-lg bg-amber-900 p-4 font-bold text-amber-200 lg:w-60"
      >Book Now</button
    ></a
  >
</section>
