---
import { Image } from "@astrojs/image/components";
import logo from "../images/logo.jpg";
import Modal from "./Contact";
---

<section>
  <nav class="flex p-4 md:p-8 font-bold text-lg text-amber-50">
    <div class="basis-1/2">
      <a href="/">
        <div class="flex gap-2 justify-start items-center">
          <Image class="w-9 object-cover rounded-lg" src={logo} alt="logo" />
          Gold Springs
        </div>
      </a>
    </div>
    <div class="flex basis-1/2 justify-end gap-6 text-amber-50">
      <Modal client:visible />
    </div>
  </nav>
</section>
